body{
  margin-top: 55px;
}
.btn {cursor:pointer;}
#grid_home{
    display: grid;
    grid-template-columns:50px 1fr;
    border-bottom:2px solid gray;
    padding:0px;
    text-align: center;
    margin:0;
    position:fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}
#grid{
  display: grid;
  grid-template-columns:322px 1fr;
}
#grid a {
  font-size: 15pt;
}
#grid ul{
  border-right: 2px solid gray;
  width:280px;
  margin:0;
  padding:20px;
}
#grid li{
  margin-bottom: 5px;
}
#grid p {
  margin-left: 14px;
  margin-right: 14px;
}
#grid img{
  height: 450px
}
#grid font{
  color:red;
  font-size:20pt;
  display:block;
  text-align: center;
  border-bottom:2px solid gray;
}
#theme_div{
  display: none;
}
.home_img{

}
.img_sort {
  text-align: center;
}
@media(max-width:700px){
  #grid {
    display: block;
  }
  #grid ul{
    border-right:none;
  }
  #grid img{
    height:200px
  }
  .img_sort{
    text-align: left;
  }
}
button{
  position: fixed;
  top:90%;
  left: 90%;
}
